h1 Read me
p 本アプリの機能<br>
  ・本アプリは厚生労働省公表のコロナウイルスに関するオープンデータ（https://www.mhlw.go.jp/stf/covid-19/open-data.html）を元に期間内の日本国内のPCRテスト数、陽性者数を出力するものであり以下の機能を持つ<br>
  ・「データ加工＆表示」内、開始日と終了日（YYYY-MM-DD形式）で検索し期間内のPCRテスト数、陽性者数をDBより取得する<br>
  ・DB内データを取り出し、加工して画面へ出力する<br>
  ・コメント内容を期間内の新規陽性率の数値に応じて変化させる（5%を境に変化）<br>

p 本アプリで実現したかったこと<br>
  ・csvよりDBへある程度の数のデータを投入すること<br>
  ・DB内データを取り出し、加工して画面へ出力すること<br>
  ・条件分岐文を記載すること<br>

p 今後追加したい機能<br>
  ・DB内データ追加＆修正（管理者）<br>
  ・管理者のみ上記データ修正可能<br>
  ・検索文字列を「YYYY-MM-DD」形式であることのチェック機能<br>
= link_to "topへ戻る", homes_top_path, class: "btn btn-primary"
